::-mozkit-scrollbar {display:none;}
.content-part {background: #2a2d31; height: 100vh; overflow: auto; padding:100px 30px 30px 30px;}
.about-text {margin-bottom: 50px; text-align: center;}
.about-text p {font-size: 23px; font-weight: 300; }
.about-text span {color: #2672e9; font-weight: 700;}
.about-text .btn-one {font-weight: 700; font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background: #2772e7;
    padding: 13px 30px 12px 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    z-index: 1;
    border-radius: 25px;
    border: none;}


.content-part .card-box {position: relative; padding: 30px;background: rgba(255, 255, 255, 0.05);border-radius: 18px; -moz-border-radius: 18px; -webkit-border-radius: 18px; -khtml-border-radius: 18px;}
.content-part .card-title {font-size: 20px; font-weight: 700; padding: 10px 13px;}
.content-part .card-title span {color: #2672e9;}
.content-part .card-item {position: relative; padding: 30px 0;}
.content-part .card-item:first-child {padding-top: 0;}
.content-part .card-item:before {content: '';position: absolute;left: -30px; top: 0;right: -30px; height: 1px; background: rgba(255, 255, 255, 0.1);}
.content-part .card-item:first-child:before {display: none;}
.content-part .card-item .name {margin: 0 0 5px 0;font-size: 16px;color: #ffffff;font-weight: 700;}
.content-part .card-item .date {margin: 0 0 15px 0;padding: 0;position: relative;display: inline-block;font-size: 12px;line-height: 12px;  font-weight: 300;}
.content-part .card-item p {margin-bottom: 0;}


.about-banner {background-image: url(../images/about-banner.jpg); background-size: cover; background-position: 45%;}