
.slick-next {right:25px;}
.slick-prev {left:25px; z-index: 1;}
.slick-dots {bottom:25px; z-index: 1;}
.slick-dots li.slick-active button:before, .slick-dots li button:before {color:#2772e7;}

.main-slider-1{
    background-image: url(../images/main-slider/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex !important;
    align-items: center;
}

.main-slider-2{
    background-image: url(../images/main-slider/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex !important;
    align-items: center;
}

.main-slider-3{
    background-image: url(../images/main-slider/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex !important;
    align-items: center;
}

.main-slider-4{
    background-image: url(../images/main-slider/img4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex !important;
    align-items: center;
}

.slide-content {
    width: 30%;
    position: relative;
    padding: 15px;
    margin-left: 10%;
}

.slider-inner .btn-one {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background: #2772e7;
    padding: 13px 30px 12px 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    z-index: 1;
    border-radius: 25px;
    border: none;
    
}

.slick-active .slider-inner .btn-one {animation:fadeInUp 1s both;}
/** main-slider **/
.slider-inner { display: flex;}
.slider-inner h2 { font-size:52px; color:#2672e9;  font-weight: bold;}
.slider-inner h4 { font-size:18px; text-align:left; color:#093075; margin-top:10px; text-transform: uppercase;}
.slider-inner p { font-size:14px; text-align: left; color:#8d8d8d;}
.slick-active .slider-inner  h2{
    animation:fadeInLeft 1s both 0.3s;
  }

.slick-active .slider-inner h4 {
    animation:Slick-FastSwipeIn 1s both;
  }
  .slick-active .slider-inner p{
    animation:Slick-FastSwipeIn 1s both;
  }

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn{
    0%{transform:rotate3d(0,1,0,150deg) scale(0)  perspective(400px);} 
    100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);} 
}

@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



/* slider image start*/
.main-banner .banner-image.single-banner-image img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .shape1 {
    position: absolute;
    top: 20%;
    z-index: 1;
    left: 30px;
    -webkit-animation: rotate3d 4s linear infinite;
            animation: rotate3d 4s linear infinite;
    opacity: .4;
  }
  
  .shape2 {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 15%;
  }
  
  .shape3 {
    position: absolute;
    left: 25%;
    bottom: 15%;
    z-index: 1;
    -webkit-animation: animationFramesOne 15s infinite linear;
            animation: animationFramesOne 15s infinite linear;
  }
  
  .shape4 {
    position: absolute;
    right: 25%;
    bottom: 15%;
    z-index: 1;
    -webkit-animation: animationFramesOne 20s infinite linear;
            animation: animationFramesOne 20s infinite linear;
  }
  
  .shape5 {
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 1;
    -webkit-animation: movebounce 5s linear infinite;
            animation: movebounce 5s linear infinite;
    opacity: .5;
  }
  
  .shape6 {
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 10%;
  }
  
  .shape7 {
    position: absolute;
    left: 25%;
    top: 15%;
    z-index: 1;
    -webkit-animation: animationFramesOne 20s infinite linear;
            animation: animationFramesOne 20s infinite linear;
  }
  
  @-webkit-keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @-webkit-keyframes moveleftbounce {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  @keyframes moveleftbounce {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  .rotateme {
    -webkit-animation-name: rotateme;
            animation-name: rotateme;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  
  @keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotate3d {
    0% {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
  
  @keyframes rotate3d {
    0% {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
  
  @keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
              transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
              transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
              transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
              transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @-webkit-keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
  }
.banner-text { align-items: center; display: flex}
  .up_animat {
    animation: float-bob-y infinite 2s linear;
}

  @keyframes float-bob-y {
    0% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }
  
  @keyframes float-bob-x {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
  
    50% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
  
    100% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
  }

/*slider image end */
@media only screen and (max-width: 991px){
.header-upper {display: none;}
.slick-slide img {max-width: 100%;}
}

@media only screen and (max-width: 767px){
    .slider-inner h2 { font-size: 24px; line-height: 28px; letter-spacing: 0;}
    .slide-content { width: 80%; margin: 20px auto 20px auto;}
    .slider-inner p { font-size: 12px; line-height: 18px; color: #8d8d8d;}
}
    
@media only screen and (max-width: 599px){
    .main-slider .btn-two { display: block; margin-left: 0px; margin-top: 10px;}
}

